#header {
  //border-top: 0.3vh solid black;
  //border-bottom: 0.3vh solid black;
  width: 100%;
  height: 7%;
  font-family: 'Comfortaa', sans-serif;
  font-size: 22px;
  text-transform: uppercase;

  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #333333 74%);

}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  height: 100%;

  a {
    color: white;
    text-decoration: none;
  }

}

::ng-deep .p-menubar {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #333333 74%);
  height: 7%;
  text-transform: uppercase;
}

::ng-deep .p-menuitem-link:hover {
  background: none !important;
  outline: none !important;
  border: none !important;
}

::ng-deep .mat-menu-item {
  //text-transform: uppercase;
}

::ng-deep .p-menuitem-text, .mat-button {
  color: white !important;
  font-family: 'Comfortaa', sans-serif !important;
  font-size: 22px !important;
  transition: 0.2s ease-in-out;
}

::ng-deep .mat-button:hover {
  color: darkgrey !important;
}

::ng-deep .mat-menu-content, .mat-button {
  width: 280px !important; // as you wish
  //height: 200px !important; // as you wish
}
::ng-deep .p-menuitem:hover {
  ::ng-deep .p-menuitem-text {
    color: darkgrey !important;
  }
}

.header-part {
  display: flex;
  justify-content: space-between;
  color: white;

  div {
    padding: 0 20px;
  }
}

.header-part-left {

}

.header-part-right {

}
