<app-header></app-header>
<div id="content">
  <div class="container">

<!--    Контейнер для таб-меню-->
    <div class="container-tab-menu">
      <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
    </div>

<!--    Контейнер для фотографии и информации-->
    <div class="container-portrait">
      <img src="../../assets/images/unknown.jpg" height="450px" width="400px">

      <div class="portrait-info">
        <span>Олег Иванов</span><br>
        <span>Уровень воздуха: </span>
      </div>
    </div>


<!--    Контейнер для сообщений, доп. информации-->
    <div class="container-info">
      <div *ngIf="activeItem.label == 'О себе'" class="personal-info" [@infoAnim]>
        <span>Бурильщик, 3 бригада</span>
      </div>

      <div *ngIf="activeItem.label == 'Дополнительная информация'" class="extra-information" [@infoAnim]>
        <span>Возраст: </span><br>
        <span>Рост: </span><br>
        <span>Вес: </span><br>
        <span>Группа здоровья: </span>
      </div>

      <div *ngIf="activeItem.label == 'Сообщения'" class="messages">
        <p-messages [(value)]="msgs1" [enableService]="false"></p-messages>

      </div>

    </div>
  </div>
</div>

