<app-header></app-header>
<div id="content">
  <div class = "container-txt">
    <span text>Состав 3 бригады:</span>
  </div>
  <div class="container-tab-mark">
    <table>
      <tr>
        <th>Номер нахтера</th>
        <th>Имя</th>
        <th>Роль</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Иван</td>
        <td>Бурильщик</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Дмитрий</td>
        <td>Копатель</td>
      </tr>

    </table>
  </div>
  <div class="container-txt">
    <span>Свободные шахтеры:</span>
  </div>
  <div class="container-tab-mark">
    <table>
      <tr>
        <th>Номер шахтера</th>
        <th>Имя</th>
        <th>Возраст</th>
        <th>Рост</th>
        <th>Вес</th>
        <th>Группа здоровья</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Иван</td>
        <td>22</td>
        <td>180</td>
        <td>70</td>
        <td>5</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Иван</td>
        <td>22</td>
        <td>180</td>
        <td>70</td>
        <td>5</td>
      </tr>
    </table>
  </div>

</div>



