<app-header></app-header>
<div id="content">
  <div class = "container-txt">
    <span>Выставление оценок 3-ей бригаде, в шахте Мордер, за 20.12.2020</span>
  </div>
  <div class="container-tab-mark">
    <table>
      <tr>
        <th>Номер нахтера</th>
        <th>Имя</th>
        <th>Роль</th>
        <th>Оценка</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Иван</td>
        <td>Бурильщик</td>
        <td><select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Дмитрий</td>
        <td>Копатель</td>
        <td><select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select></td>
      </tr>

    </table>
  </div>
  <div class="container-txt">
    <span>История оценок шахтера по id:</span>
    <input>
  </div>
  <div class="container-tab-mark">
    <table>
      <tr>
        <th>Название шахты</th>
        <th>Номер бригады</th>
        <th>Роль</th>
        <th>Дата работы</th>
        <th>Оценка</th>
      </tr>
      <tr>
        <td>Мордер</td>
        <td>3</td>
        <td>Бурильщик</td>
        <td>20.12.2020</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Ниверденд</td>
        <td>3</td>
        <td>Копатель</td>
        <td>20.11.2020</td>
        <td>4</td>
      </tr>

    </table>
  </div>

</div>


<button (click)="showModalDialog()" class="button-equipment">
  Принять оборудование
</button>
<p-dialog header="Выдача оборудования" [(visible)]="displayModal" [modal]="true" [style]="{ width: '60vw', position: 'absolute' }"
          [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <p-table [columns]="cols" [value]="receivingMiner" >
    <ng-template pTemplate="header" let-columns >
      <tr>
        <th style="background: none" *ngFor="let col of columns">
          {{col.header}}
        </th>
        <th style="width: 50px; background: white !important; border-bottom: none;">

        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
        <td  style="border-bottom: none !important;">
          <button style="color: #D4A439 !important;" (click)="doReceiving(rowData['id'])" pButton type="button"
                  icon="pi pi-user-minus" class="p-button-rounded p-button-text p-button-lg"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
